* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow: hidden;
    background-color: #000000;
    width: 100%;
    height: 100vh;
}

.mycontainer {
    position: absolute;
    left: 10%;
    top: 10%;
    will-change: transform;
    transform: translate(-10%, -10%);
    overflow: hidden;
    width: 1368px;
    height: 700px;
    border: 1px solid white;
}

.mycanvas {
    position: absolute;
    left: 670px;
    top: 890px;
    transform: translate(-670px, -700px);
    width: 100%;
    height: auto;
    padding: 20px;
    transition: 1.5s ease-out;
    display: flex;
    align-content: center;
    align-items: center;
}

span {
    font-family: great-vibes, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.center-name {
    position: relative;
    left: 450px;
    align-content: center;
    flex: 25%;
}

.center-name .wish {
    font-size: 3em;
    display: block;
    flex: 25%;
    align-items: center;
}

.center-name .name {
    position: relative;
    left: -50px;
    font-size: 6em;
    align-items: center;
}

img {
    filter: grayscale(00%);
}


/*
img:hover {
    image-rendering: pixelated;
    transition: all 400ms;
    image-rendering: pixelated;
    width: 300px;
    height: 400px;
    object-fit: contain;
    animation: colored 2.5s;
}

@keyframes colored {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
*/

.video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.first-class {
    position: absolute;
    width: 350px;
    height: 500px;
    left: 40px;
    top: 0;
    align-items: center;
    align-content: center;
}

.first-class img {
    align-items: center;
    width: 260px;
    height: 400px;
    object-fit: contain;
}

.second-class {
    position: absolute;
    width: 440px;
    height: 350px;
    right: -160px;
    top: 40px;
}

.second-class img {
    width: 400px;
    height: 300px;
    object-fit: contain;
}

.third-class {
    position: absolute;
    width: 440px;
    height: 350px;
    top: -450px;
    right: 250px;
}

.third-class img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    align-items: center;
}

.fourth-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: 390px;
    right: 110px;
}

.fourth-class img {
    width: 260px;
    height: 400px;
    object-fit: contain;
}

.fifth-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: -500px;
    left: 100px;
}

.fifth-class img {
    position: absolute;
    top: 50px;
    left: 90px;
    width: 260px;
    height: 400px;
    object-fit: contain;
}

.sixth-class {
    position: absolute;
    width: 440px;
    height: 350px;
    top: -150px;
    right: -650px;
}

.sixth-class img {
    position: relative;
    top: 50px;
    width: 400px;
    height: 300px;
    object-fit: contain;
    align-items: center;
}

.seventh-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: -550px;
    right: -220px;
}

.seventh-class img {
    position: absolute;
    top: 100px;
    width: 260px;
    height: 400px;
    object-fit: contain;
}

.eight-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: 320px;
    right: -320px;
}

.eight-class img {
    position: absolute;
    top: 100px;
    width: 260px;
    height: 400px;
    object-fit: contain;
}

.ninth-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: 200px;
    right: -720px;
}

.ninth-class img {
    position: absolute;
    top: 100px;
    width: 260px;
    height: 400px;
    object-fit: contain;
}

.tenth-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: -800px;
    right: -620px;
}

.tenth-class img {
    position: absolute;
    top: 100px;
    width: 260px;
    height: 400px;
    object-fit: contain;
}

.eleventh-class {
    position: absolute;
    width: 540px;
    height: 550px;
    left: 360px;
    top: 370px;
}

.eleventh-class img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.onetwo-class {
    position: absolute;
    width: 350px;
    height: 400px;
    top: -880px;
    right: -250px;
}

.onetwo-class img {
    position: absolute;
    top: 100px;
    width: 260px;
    height: 260px;
    object-fit: contain;
}

.onethree-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: -950px;
    right: 80px;
}

.onethree-class img {
    position: absolute;
    top: 140px;
    width: 260px;
    height: 300px;
    object-fit: contain;
}

.onefour-class {
    position: absolute;
    width: 550px;
    height: 300px;
    top: -950px;
    right: 500px;
}

.onefour-class img {
    position: absolute;
    top: 140px;
    width: 500px;
    height: 300px;
    object-fit: contain;
}

.onefive-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: -780px;
    left: -230px;
}

.onefive-class img {
    position: absolute;
    top: 140px;
    width: 360px;
    height: 430px;
    object-fit: contain;
}

.onesix-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: -680px;
    left: -630px;
}

.onesix-class img {
    position: absolute;
    top: 140px;
    width: 360px;
    height: 430px;
    object-fit: contain;
}

.oneseven-class {
    position: absolute;
    width: 500px;
    height: 500px;
    top: -100px;
    left: -470px;
}

.oneseven-class img {
    position: absolute;
    top: 140px;
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.oneeight-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: 380px;
    left: -570px;
}

.oneeight-class img {
    position: absolute;
    top: 140px;
    width: 360px;
    height: 430px;
    object-fit: contain;
}

.onenine-class {
    position: absolute;
    width: 440px;
    height: 350px;
    left: -160px;
    top: 580px;
}

.onenine-class img {
    width: 440px;
    height: 300px;
    object-fit: contain;
}

.twozero-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: 680px;
    left: 430px;
}

.twozero-class img {
    position: absolute;
    top: 140px;
    width: 360px;
    height: 430px;
    opacity: 0;
    object-fit: contain;
}

.twoone-class {
    position: absolute;
    width: 440px;
    height: 350px;
    right: -570px;
    top: 900px;
}

.twoone-class img {
    width: 440px;
    height: 300px;
    opacity: 0;
    object-fit: contain;
}

.twotwo-class {
    position: absolute;
    width: 350px;
    height: 500px;
    top: 800px;
    left: -470px;
}

.twotwo-class img {
    position: absolute;
    top: 140px;
    width: 360px;
    height: 430px;
    opacity: 0;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    .mycontainer {
        position: absolute;
        left: 10%;
        top: 10%;
        will-change: transform;
        transform: translate(-10%, -10%);
        overflow: hidden;
        width: 720px;
        height: 1520px;
        border: 1px solid white;
    }
    img {
        opacity: 0;
        filter: grayscale(0%);
    }
    .mycanvas {
        position: absolute;
        left: 670px;
        top: 1300px;
        transform: translate(-670px, -700px);
        width: 100%;
        height: auto;
        padding: 20px;
        transition: 1.5s ease-out;
        display: flex;
        align-content: center;
        align-items: center;
    }
    span {
        font-family: great-vibes, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
    }
    .center-name {
        position: relative;
        left: 70px;
        align-content: center;
        flex: 25%;
    }
    .center-name .wish {
        font-size: 3em;
        display: block;
        flex: 25%;
        align-items: center;
    }
    .center-name .name {
        position: relative;
        left: -10px;
        font-size: 6em;
        align-items: center;
    }
    .first-class {
        position: absolute;
        width: 250px;
        height: 400px;
        left: -240px;
        top: 0;
        align-items: center;
        align-content: center;
    }
    .first-class img {
        align-items: center;
        width: 250px;
        height: 350px;
        opacity: 1;
        object-fit: contain;
    }
    .second-class {
        position: absolute;
        width: 440px;
        height: 350px;
        right: -460px;
        top: 0px;
    }
    .second-class img {
        width: 400px;
        height: 320px;
        opacity: 1;
        object-fit: contain;
    }
    .third-class {
        position: absolute;
        width: 440px;
        height: 250px;
        top: -450px;
        right: -100px;
    }
    .third-class img {
        width: 400px;
        height: 320px;
        opacity: 1;
        object-fit: contain;
        align-items: center;
    }
    .fourth-class {
        position: absolute;
        width: 300px;
        height: 400px;
        top: 290px;
        right: -40px;
    }
    .fourth-class img {
        opacity: 1;
        width: 300px;
        height: 400px;
        object-fit: contain;
    }
    .fifth-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: -630px;
        left: -100px;
    }
    .fifth-class img {
        position: absolute;
        top: 50px;
        left: 90px;
        width: 300px;
        height: 400px;
        opacity: 1;
        object-fit: contain;
    }
    .sixth-class {
        position: absolute;
        width: 440px;
        height: 350px;
        top: -950px;
        right: -650px;
    }
    .sixth-class img {
        position: relative;
        top: 50px;
        width: 400px;
        height: 300px;
        opacity: 1;
        object-fit: contain;
        align-items: center;
    }
    .seventh-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: -650px;
        right: -520px;
    }
    .seventh-class img {
        position: absolute;
        top: 100px;
        width: 260px;
        height: 400px;
        opacity: 1;
        object-fit: contain;
    }
    .eight-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: 350px;
        right: -420px;
    }
    .eight-class img {
        position: absolute;
        top: 100px;
        width: 260px;
        height: 400px;
        opacity: 1;
        object-fit: contain;
    }
    .ninth-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: 250px;
        right: -750px;
    }
    .ninth-class img {
        position: absolute;
        top: 100px;
        width: 260px;
        height: 400px;
        opacity: 1;
        object-fit: contain;
    }
    .tenth-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: -500px;
        right: -820px;
    }
    .tenth-class img {
        position: absolute;
        top: 100px;
        width: 260px;
        height: 400px;
        opacity: 1;
        object-fit: contain;
    }
    .eleventh-class {
        position: absolute;
        width: 540px;
        height: 550px;
        left: -50px;
        top: 350px;
    }
    .eleventh-class img {
        width: 500px;
        height: 500px;
        opacity: 1;
        object-fit: contain;
    }
    .onetwo-class {
        position: absolute;
        width: 350px;
        height: 400px;
        top: -880px;
        right: -290px;
    }
    .onetwo-class img {
        position: absolute;
        top: 100px;
        width: 260px;
        height: 260px;
        opacity: 1;
        object-fit: contain;
    }
    .onethree-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: -1000px;
        right: -80px;
    }
    .onethree-class img {
        position: absolute;
        top: 140px;
        width: 260px;
        height: 300px;
        opacity: 1;
        object-fit: contain;
    }
    .onefour-class {
        position: absolute;
        width: 550px;
        height: 300px;
        top: -1100px;
        right: 300px;
    }
    .onefour-class img {
        position: absolute;
        top: 140px;
        width: 500px;
        height: 300px;
        opacity: 1;
        object-fit: contain;
    }
    .onefive-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: -640px;
        left: -400px;
    }
    .onefive-class img {
        position: absolute;
        top: 140px;
        width: 360px;
        height: 430px;
        opacity: 1;
        object-fit: contain;
    }
    .onesix-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: -1120px;
        left: -500px;
    }
    .onesix-class img {
        position: absolute;
        top: 140px;
        width: 360px;
        height: 430px;
        opacity: 1;
        object-fit: contain;
    }
    .oneseven-class {
        position: absolute;
        width: 500px;
        height: 500px;
        top: 370px;
        left: -470px;
    }
    .oneseven-class img {
        position: absolute;
        top: 140px;
        width: 400px;
        height: 400px;
        opacity: 1;
        object-fit: contain;
    }
    .oneeight-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: -100px;
        left: -580px;
    }
    .oneeight-class img {
        position: absolute;
        top: 140px;
        width: 360px;
        height: 430px;
        opacity: 1;
        object-fit: contain;
    }
    .onenine-class {
        position: absolute;
        width: 440px;
        height: 350px;
        left: -20px;
        top: 880px;
    }
    .onenine-class img {
        width: 440px;
        height: 300px;
        opacity: 1;
        object-fit: contain;
    }
    .twozero-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: 680px;
        left: 430px;
    }
    .twozero-class img {
        position: absolute;
        top: 140px;
        width: 360px;
        height: 430px;
        opacity: 1;
        object-fit: contain;
    }
    .twoone-class {
        position: absolute;
        width: 440px;
        height: 350px;
        right: -570px;
        top: 900px;
    }
    .twoone-class img {
        width: 440px;
        height: 300px;
        opacity: 1;
        object-fit: contain;
    }
    .twotwo-class {
        position: absolute;
        width: 350px;
        height: 500px;
        top: 800px;
        left: -470px;
    }
    .twotwo-class img {
        position: absolute;
        top: 140px;
        width: 360px;
        height: 430px;
        opacity: 1;
        object-fit: contain;
    }
}


/*
.type1 {
    object-fit: contain;
    width: 250px;
    height: 300px;
    filter: grayscale(00%);
}

.type2 {
    width: 350px;
    height: 350px;
    filter: grayscale(100%);
}

.mycol {
    position: relative;
    top: -15%;
}

.mycol1 {
    position: relative;
    left: 50%;
    flex: 25%;
    width: 1000px;
}

.mycol2 {
    position: relative;
    right: 10%;
}

.mycol3 {
    position: relative;
    left: 20%;
    top: -10%;
}


/*
.column {
    position: relative;
    flex: 25%;
    background-color: aqua;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.carousel-item {
    position: relative;
    flex: 25%;
    height: 100vh;
    min-height: 300px;
}*/


/*
.carousel-caption {
    bottom: 330px;
}

.carousel-caption h2 {
    position: relative;
    left: -400px;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: 'Playfair Display', serif;
}

.name {
    position: relative;
    left: -400px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Pacifico', cursive;
    font-family: 'Playball', cursive;*/


/*font-family: 'Playfair Display', serif;
    color: whitesmoke;*/


/*
.fade-in-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(30, end);
    animation-delay: 5s;
    white-space: nowrap;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0%;
        opacity: 0;
    }
    to {
        width: 50%;
        opacity: 1;
    }
}

.fade-in-wish {
    animation: fadeIn 10s;
    animation-delay: 10s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.img1 {
    position: fixed;
    width: -90px;
    height: 50vh;
    left: 5500vw;
    top: 25vh;
    border: 5px solid #ff0000;
    opacity: 0;
}*/